header {
  border-bottom: 2px solid black;
  padding: 1rem 2rem;
  align-self: stretch;
}

header,
header > nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header > nav > ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

header a {
    display: block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: black;
}

header a:hover {
    background-color: #e0e0e0;
}
